<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Content:</strong>
</p>
<%= simple_format @project.content %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render "partials/share", object: @project %>

<%= render "partials/disqus", name: "project", object: @project %>